<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" [routerLink]="['/results']" >Resultados</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" [routerLink]="['/candidates']" >Candidatos</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" [routerLink]="['/vote', '1']" >Votação Para Prefeito</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" [routerLink]="['/vote', '2']" >Votação Para Vereador</a>
            </li>
        </ul>
    </div>
</nav>